.bar path{
    fill: white;
    fill-opacity: 1;
}

.danger{
    fill: red;
    fill-opacity: 1;
}

#battery-widget-pile{
    float: left;
}

#battery-display{
    margin-right: 10px;
    float: left;
}
