#battery-line-anchor{
    display: inline;
}

section{
    margin-top: 20px;
}

section *{
    margin-left: 25px;
}

#general > div{
    float: left;
}

#battery-widget-anchor, #battery-widget > *, #distances-wrapper > *{
    margin-left: 0;
}

#distances-wrapper > div{
    float:left;
}

/* Styles for the radio control */
#radio-control > div{
    position: relative;
}

#keys{
    height: 120px;
    margin-top: 40px;
    margin-left: 260px;
}

.key{
    height: 40px;
    display: inline;
    background: rgba(0,0,0,0.1);
    padding: 10px 13px;
    border-radius: 5px;
    margin: 0;
    position: relative;
    cursor: pointer;
}

.key:hover{
    background: rgba(0,0,0,0.3)
}

.pressed, .pressed:hover{
    background: #29F;
    color: white;
}

#key-shift{
    padding-right: 20px;
    padding-left: 20px;
    top: 40px;
    margin-right: -30px;
}

#key-w{
    left: 80px;
    top: 0px;
}

#key-a, #key-s, #key-d{
    left: 0px;
    top: 40px;
}

#key-space{
    padding-right: 170px;
    left: -187px;
    top: 90px;
}

#leds{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background: rgba(0,0,0,0.1);
    float: left;
}

#leds span{
    position: absolute;
    width: 40px;
    height: 40px;
}

#leds *{
    margin: 0;
}

#led1{
    top: 0;
    left: 80px;
}

#led2{
    top: 25px;
    right: 20px;
}

#led3{
    top: 85px;
    right: 0;
}

#led4{
    bottom: 25px;
    right: 25px;
}

#led5{
    bottom: 0;
    left: 80px;
}

#led6{
    bottom: 25px;
    left: 25px;
}

#led7{
    top: 85px;
    left: 0;
}

#led8{
    top: 25px;
    left: 20px;
}
