{% extends "base.html" %}

{% block title %}
    default main page
{% endblock %}

{% block anchors %}
    <h2>Information</h2>
    <div id="real-time-anchor"></div>
    <div id="device-time-anchor"></div>
    <div id="date-anchor"></div>
    <div id="battery-widget-anchor"></div>
    <div id="battery-anchor"></div>
    <div id="distances-center-anchor"></div>
    <div id="distances-middle-anchor"></div>
    <div id="distances-back-anchor"></div>
    <div id="debug-anchor"></div>
    <div id="speed-anchor"></div>
    <div id="axis-x-anchor"></div>
{% endblock %}

{% block widgets %}
    <script src="lupulo_static/js/widgets/multiple_line.js"></script>
    <script src="static/js/widgets/digital_display.js"></script>
    <script src="static/js/widgets/digital_clock.js"></script>
    <script src="static/js/widgets/digital_date.js"></script>
    <script src="static/js/widgets/battery.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/main.css" />
{% endblock %}
